:root {
  --header-background: rgb(255, 200, 80);
  --header-color: rgba(200,130,0,0.8);
  --header-border-bottom: 3px solid rgba(200,130,0,0.3);
}


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

a {
  color: #42b983;
  cursor: pointer;

  &:hover {
    color: #5742b9;
  } 
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  margin: 0;

  font-weight: bold;
  background: var(--header-background);
  color: var(--header-color);
  border-bottom: var(--header-border-bottom);

  a {
    text-decoration: none;
  }
}

header h1 {
  font-family: monospace;
  letter-spacing: 5px;
  line-height: 1em;
}

h2 {
  color: rgba(0, 0, 0, 0.6);
}

main {
    margin: 20px auto;
    max-width: 34rem;
}

label {
  position: relative;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  column-gap: 0.5rem;
  align-content: stretch;
  margin-bottom: 1rem;

  span, aside {
    flex-basis: 100%;
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
    font-size: 0.8rem;
    text-transform: uppercase;
    display: block;
    line-height: 1.5em;
  }

  aside {
    position: absolute;
    right: 5px;
  }

  .invalid {
    text-align: center;
    color: rgba(200, 30, 30, 0.8);
  }
}

button, input[type="submit"] {
  flex-grow: 1;
}

input, textarea, select, button {
  box-sizing: border-box;
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  font-family: monospace;

  &[readonly] {
    opacity: 0.8;
    border-color: rgba(0, 50, 200, 0.2);
    background: rgba(0, 100, 255, 0.1);
    color: rgba(0, 20, 100, 1);
  }

  &:invalid {
    border-color: rgba(100, 0, 0, 0.6);
  }
}

input[type=text], textarea, select {
  display: block;
  width: 100%;
  margin-bottom: 0;
}

form {
  margin: 2rem 0;
  background: rgb(255, 255, 255);
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
}
